*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM.plex.Sans', sans-serif;
}
body{
    position: relative;
}
.carousel-items img{
    width: 100%;
    height: 90vh;

}
.navbar-brand{
    font-size: 1.5rem !important;
    font-weight: bold !important;
}
.navbar-brand span{
    font-size: 2rem !important;
    font-weight: bold  !important;

}

.about_img{
    min-width: 100%;
    max-height: 280px;

}

.services .row>*{
    padding-right: 0;
    padding-left: 0;
}
.JN
{
    font-family: 'Gelasio', serif;
    font-size: 20px;
}

.services img{
    width: 100%;
    height: 100%;
}
.offer_style{
    background: #4096b5;
}
footer p{
    margin-bottom: 0;
}
/*responsive css code*/
/*// X-Small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { ... }